# Node.js dependencies
/node_modules

# Our Secret File
companies.json

# Our Output Database (BLOCKED FROM UPLOAD)
# We ignore these so we don't accidentally overwrite the live data on GitHub
jobs.json
jobs_data.js

# Environment Secrets
.env

# Operating System junk files
.DS_Store
Thumbs.db
desktop.ini

# VS Code editor settings
.vscode/

# Log files
*.log
npm-debug.log*